DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=
# Atlas needs an empty database copy to generate migrations so name it here
ATLAS_DEV_DB_NAME=

PORT=8080

# Follow instructions here to create TMDB API key
# https://developers.themoviedb.org/3/getting-started/introduction
TMDB_API_KEY=

# Get an API key from https://console.anthropic.com/
ANTHROPIC_API_KEY=

# Get an API key from https://platform.openai.com/
OPENAI_API_KEY=

# Get an API key from https://aistudio.google.com/apikey
GEMINI_API_KEY=